.cover-logo {
  padding: 2rem;
}

.cover-page {
  height: 100vh;
  margin: 0 auto;
}
.cover {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.cover h2 {
  font-weight: 700;
}
span {
  font-size: 2rem;
  font-weight: 100;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1 1 20rem;
  position: relative;
  overflow: hidden;
  padding: 0rem 1rem;
  transition: 0.5s ease-in-out;
}
.left {
  border-right: 2px solid rgb(187, 187, 187);
}
.right {
  position: relative;
  background-image: url(../imgs/ec_student.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position: bottom right;
  background-size: 50%;
  animation: mymove 5s infinite;
  position: relative;
}
.left {
  position: relative;
  background-image: url(../imgs/oranzova.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position: bottom left;
  background-size: 50%;
}
.abstract {
  position: absolute;
  top: 80%;
  right: -20%;
  width: 30%;
}

.btn-cover::content {
  background: var(--ec-text);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 3rem;
}

.btn-cover {
  border-radius: 2px;
  background: var(--ec-text);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 2rem 1rem 2rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn-cover {
  background-color: #28a0a1;
}
.btn-cover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cover span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btn-cover:hover span {
  padding-right: 25px;
}

.btn-cover:hover span:after {
  opacity: 1;
  right: 0;
}
.ec {
  background: #f58220;
}
.cover a {
  font-size: 2rem;
}

.social {
  max-width: 40rem;
  position: absolute;
  bottom: 1em;
}
a {
  color: white;
}
.social img {
  width: 40px;
  margin: 1rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.social img:hover {
  transform: scale(1.1);
}
.btn-cover span {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .cover {
    margin: 0 auto;
    display: block;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 1rem;
  }
  span {
    font-size: 0.5rem;
  }
  .cover-logo {
    padding: 0;
  }
  .btn-cover {
    padding: 0rem 0.4rem;
  }
  .btn-cover span {
    padding: 0;
    font-size: 0.71rem;
  }
  .btn-cover a {
    padding: 0;
    margin: 0;
  }
  .right {
    background-size: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: relative;
    padding-bottom: 5rem;
  }
  .left {
    background-size: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding-bottom: 5rem;
  }
  .cover-logo {
    width: 100px;
  }
  .social {
    position: absolute; /* or absolute */
    top: 60%;
    left: auto;
  }

  .social img {
    width: 20px;
  }
}
